.description {
    height: 100%;
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 70%;
}
.title {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.5;

}